@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

*{/*Edita todos los elementos del html*/
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}
body{
    background-color: linear-gradient(white,rgb(173, 127, 127));
    font-family: 'Dancing Script', cursive;
}
.centering{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21.5%;
    font-family: 'Dancing Script', cursive;
}
#INICIO{
    text-align: center;
}
#navega{
    text-align: center;
    font-family: 'Signika', sans-serif;
    background-color:bisque;
}
header, nav, section, footer{
    background-color: rgb(95, 141, 155);
    border-style: 1;
    margin: 40px;
    width: 90%;
    padding: 50px;
    display: block;
    text-align: center;
    -moz-border-radius: "22px";
    -webkit-border-radius: "22px";
}
footer:hover{
    background-color: goldenrod;
}
article{
    background-color: lightgray;
    border-style: 1;

}
footer{
    font-family: 'Signika', sans-serif;
}
